@use "../utils/variables" as vars

.input-validation-error
  border-color: var(--bs-danger)
  box-shadow: vars.$validation-shadow

.validation-summary-valid,
.field-validation-valid
  display: none

.validation-summary-errors
  display: block

  ul
    margin: 0
    padding-left: 20px

.field-validation-error
  color: var(--bs-danger)
